body {
  font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
  padding: 0;
  margin: 0;
}

header {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  z-index: 100;
  text-align: center;
  padding: 2em;
}

#cash {
  position: absolute;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  z-index: 50;
  right: 0;
  bottom: 0;
}

#cash h1 {
  display: inline-block;
}

#cash img {
  width: 15%;
  display: inline-block;
}

#wall-street {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(#a5dce5, #F1FFFA);
}

#info {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 2em;
  width: 30%;
}

#amount {
  display: inline-block;
}

h2 {
  color: #ED6A5A;
}

p {
  color: #524136;
  font-size: 0.8em;
}
